.summary {
  background-image: image-url('top-back.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:rgba(255,255,255,0);background-blend-mode: lighten;
  &_timer{
    height: 15vh;
    padding-top: 20px;
    padding-left: 0px;
    text-shadow: 1px 1px 1px black;
    font-family: 'Courier New', Courier, monospace;
    color: darkorange;
  }
  &_up {
    height: 54vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    &_title{
      top: -30px;
      text-shadow: 1px 1px 1px white;
      &_team {
        display: flex;
        justify-content: flex-start;
      }
      &_match {
        display: flex;
        justify-content: center;
      }
      &_friends {
        display: flex;
        justify-content: flex-end;
      }
      &_hope {
        margin-top: 40px;
      }
    }
    &_btn{
      display: inline-block;
      text-decoration: none;
      background: darkorange;
      width: 180px;
      height: 180px;
      top: -30px;
      line-height: 45px;
      border-radius: 50%;
      overflow: hidden;
      opacity: 0.9;
      box-shadow: 0px 0px 0px 5px darkorange;
      border: groove 1px #FFF;
      transition: .4s;
      position: relative;
      &:hover{
        background: orange;
        box-shadow: 0px 0px 0px 5px orange;
      }
      &_icon {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform : translate(-50%,-50%);
        transform : translate(-50%,-50%);
        width: 200px;
        text-align: center;
        color: white;
        font-size: 30px;
      }
    }
  }
  &_down {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
    &_news {
      display: inline-block;
      text-decoration: none;
      background: darkorange;
      color: #FFF;
      width: 95px;
      height: 70px;
      line-height: 70px;
      border-radius: 30%;
      border: groove 1px #FFF;
      text-align: center;
      overflow: hidden;
      box-shadow: 0px 0px 0px 1px darkorange;
      transition: .4s;
      position: relative;
      &:hover{
        text-decoration: none;
        color: white;
        background: orange;
        box-shadow: 0px 0px 0px 5px orange;
      }
      &_text {
        color: white;
      }
    }
    &_btn{
      display: inline-block;
      text-decoration: none;
      background: darkorange;
      color: #FFF;
      width: 70px;
      height: 70px;
      line-height: 70px;
      border-radius: 50%;
      text-align: center;
      overflow: hidden;
      border: groove 1px #FFF;
      transition: .4s;
      position: relative;
      &:hover{
        text-decoration: none;
        color: white;
        background: orange;
        box-shadow: 0px 0px 0px 5px orange;
      }
      &_icon {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform : translate(-50%,-50%);
        transform : translate(-50%,-50%);
        width: 50px;
        text-align: center;
        color: white;
        font-size: 30px;
      }
    }
    &_line{
      text-decoration: none;
      color: #32CD32;
      &:hover{
        background: white;
        color:#32CD32;
      }
    }
  }
}