.follow {
  &_text {
    text-align: center;
    height: 10vh;
    width: 100%;
    margin-top: 30px;
  }
  &_user {
    width: 100%;
    flex-direction: column;
    &_each {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_information {
        display: flex;
        flex-direction: column;
      }
    }
  }
  &_move {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
    flex-direction: column;
    &_next {
      text-decoration: none;
      color: darkorange;
      &:hover{
        opacity: 0.5;
      }
    }
    &_skip {
      margin-top: 20px;
      color: darkorange;
      &:hover{
        opacity: 0.5;
      }
    }
  }
}